{% extends 'base.html.twig' %}

{% block body %}

<h1>Liste des étudiants</h1>

<ul>
  {% for student in students %}
      <li>{{ student.name }}</li>
      {% else %}
          <li>Aucun étudiant.</li>
  {% endfor %}
</ul>

{% endblock %}
